# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Zombie Horder.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\diego\Documents\GitHub\Zombie Horder\Zombie Horder\.idea\.idea.Zombie Horder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
