# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Zombie-Horder---Guide.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\diego\Documents\GitHub\George Brown\Zombie-Horder---Guide\.idea\.idea.Zombie-Horder---Guide\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
