# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Zombie-Horder.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\IBI\Unity\Projects\Zombie-Horder\.idea\.idea.Zombie-Horder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
